@charset utf-8;
@import url(fonts/fonts.css);

html
{
  height:100%;
  min-width:1200px;
}

body
{
  *position: absolute;
  *top: 0;
  *left: 0;
  *right: 0;
  background-color:#fff;
  padding-bottom:10px;
  font-family:Roboto, Helvetica, Arial, sans-serif;
  min-height:100%;
}

a
{
  text-decoration:underline;
  color:#b30000;
}

table {
  table-layout: fixed;
}

table td {
  word-wrap:break-word
}
.vertical-align-top {
    vertical-align:top;
}
.datepicker.dropdown-menu {
   width: 250px !important;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* Bootstrap White icons with optional class, or on hover/focus/active states of certain elements */

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  width: 16px;
  background-position: -384px -120px;
}

.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}

.ui-tabs
{
  padding:0!important;
}

.ui-tabs .ui-tabs-nav
{
  border:0;
  background:none;
  padding:0!important;
}

.ui-tabs .ui-tabs-nav li
{
  background:#f1f1f1;
  border-radius:0;
}

.ui-tabs .ui-tabs-nav li.ui-state-active
{
  background:#FFF;
}

.ui-tabs .ui-tabs-panel
{
  padding-left:0!important;
  padding-right:0!important;
}

.ui-tabs .ui-tabs-panel .header-stats
{
  margin-top:25px;
  padding-bottom:20px;
}

.ui-tabs .ui-tabs-panel .form-label
{
  margin:15px 0;
}

.main
{
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.top .inner
{
  width:1000px;
  margin:0 auto;
}

.top .menucont
{
  background:#111;
  height:45px;
  margin-bottom:30px;
}

.header-top-left
{
  float:left;
  width:600px;
}

.stats-index .ui-tabs .ui-tabs-panel>div {
  float:left;
}

.header-top-right
{
  float:right;
  text-align:right;
  margin-right:22px;
}

.calendar-widget
{
  height:300px;
  width:250px;
  background:url(../images/widget_bg.jpg) repeat-x;
  position:absolute;
  top:1170px;
  left:1087px;
  display:none;
}

.widget-input
{
  height:40px;
  width:195px;
  margin-top:20px;
  margin-left:20px;
  margin-bottom:10px;
  padding-left:15px;
  background-color:#3b3b3b;
  color:#FFF;
  border:0;
}

.widget-calendar-icon
{
  float:right;
  background-color:#505050;
  margin-top:20px;
  margin-right:3px;
  padding:14px;
}

#button
{
  width:210px;
}

.input-calendar
{
  width:170px;
  float:left;
}

.logo
{
  margin-top:19px;
  margin-left:15px;
}

.header-menu
{
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  list-style:none;
  margin:13px 0 30px;
  padding:0;
}

.header-menu a
{
  text-decoration:none;
  color:#FFF;
  float:left;
  font-size:12px;
  text-transform:uppercase;
  font-weight:700;
  padding:13px 10px;
}

.header-menu a:hover
{
  color:#457a1a;
}

.header-menu .current a
{
  background:#444;
}

.flag
{
  display:none;
  margin-top:5px;
}

.flag-text
{
  display:none;
  margin-top:5px;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.cart-text
{
  float:left;
  margin-top:5px;
  margin-right:10px;
  opacity:0.4;
  font-size:11px;
  height:30px;
  line-height:25px;
  font-family:'lucida grande', tahoma, verdana, arial, sans-serif;
}

.cart-logo
{
  float:left;
  height:30px;
}

.line
{
  margin-left:auto;
  margin-right:auto;
}

.header-middle
{
  margin-top:30px;
  margin-bottom:30px;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.header-bottom
{
  margin-left:15px;
  margin-bottom:20px;
  margin-top:20px;
}

.header-stats
{
  font-size:20px;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.dropdown
{
  border-bottom:3px dotted;
}

.dropdown-arrow
{
  width:0;
  height:0;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:5px solid #000;
  float:left;
  margin-top:10px;
  margin-left:5px;
}

.ranking-box
{
  float:left;
  margin-left:30px;
  margin-right:20px;
  text-align:center;
  background-color:#000;
  color:#FFF;
  min-width:130px;
  height:120px;
  padding:10px;
}

.upper-ranking-box
{
  font-size:34px;
  height:50%;
  line-height:60px;
}

.middle-ranking-box hr
{
  border:none;
  border-bottom:1px dotted;
  opacity:0.6;
}

.bottom-ranking-box
{
  text-align:center;
  text-transform:uppercase;
  font-size:12px;
  font-weight:700;
  margin-top:15px;
}

.notification-box
{
  background-color:#eb3815;
  color:#FFF;
  position:absolute;
  left:485px;
  top:145px;
  width:20px;
  height:22px;
  line-height:22px;
  text-align:center;
  display:none;
}

.welcome-message
{
  font-size:22px;
  float:left;
  line-height:24px;
  margin-top:10px;
  color:#5f5f5f;
}

.name
{
  font-size:33px;
  color:#000;
  line-height:50px;
}

.content
{
  margin-top:45px;
}

.content-bottom
{
  min-height:500px;
  overflow:auto;
  overflow-x:hidden;
}

.content-bottom .header-stats
{
  margin-top:20px;
  padding-bottom:20px;
  border-bottom:solid 2px;
  font-size:23px;
  width:755px;
  margin-bottom:20px;
}

.form-horizontal.compact input
{
  margin-bottom:0;
}

.column-left
{
  float:left;
  width:200px;
}

.column-left .column-header
{
  font-size:21px;
  height:35px;
  margin-top:30px;
}

.content-column
{
  float:left;
  width:350px;
  margin-right:30px;
}

.content-column .event-text
{
  margin-left:0;
}

.content-column .events-item
{
  height:73px;
}

.calendar
{
  margin-top:20px;
  margin-bottom:100px;
}

.months
{
  float:left;
  margin-left:240px;
}

.month
{
  float:left;
  margin-right:10px;
  width:110px;
  text-align:center;
}

.addon
{
  float:left;
  background-color:#f7f7f7;
  border:solid 1px #d9d9d9;
  border-right:1px dotted #d9d9d9;
  color:#656565;
  font-size:15px;
  z-index:1000;
  margin-right:-1px;
  padding:5px;
}

.input-addon
{
  float:left;
  height:33px;
  width:600px;
  color:#656565;
  font-size:15px;
}

.verified
{
  float:left;
  margin-top:16px;
}

.instagram-photo
{
  float:left;
  margin-right:5px;
}

.column-right
{
  width:767px;
  min-height:1050px;
  float:left !important;
  margin-left:33px;
  padding-bottom:30px;
}

.level-bar
{
  margin-left:15px;
  margin-top:16px;
}

.cell-header
{
  height:115px;
  border-bottom:1px solid #e0e0e0;
}

.cell
{
  margin-bottom:15px;
  background:#f1f1f1;
  border-bottom:1px solid #e0e0e0;
  padding:33px 0;
}

.cell.black
{
  background:#111;
  color:#FFF;
  border:0;
  padding:34px 0;
}

.top-cell
{
  width:173px;
  border-right:1px solid #d0d0d0;
  padding:15px;
  color: #ffffff;
  text-decoration: none;
}

.top-green-cell
{
  width:227px;
  background:#5da423;
  color:#FFF;
  padding:15px;
  text-decoration: none;
}

.top-cell:hover, .top-green-cell:hover
{
  color: #ffffff;
  text-decoration: none;
}

.cell-text,.cell-text a
{
  text-align:center;
  font-size:22px;
  font-weight:700;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  text-decoration:none;
  margin-bottom:3px;
}

.cell-header-sub-text
{
  color:#6c6c6c;
  text-align:center;
  margin-top:10px;
}

.cell-sub-text
{
  color:#6c6c6c;
  text-align:center;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.left-points-board
{
  width:200px;
}

.top-points-board
{
  display:table;
  background:#111;
  border-bottom:1px solid #e0e0e0;
  width:100%;
  height:80px;
  color:#FFF;
}

.top-points-board > *
{
  display:table-cell;
  vertical-align:middle;
  font-size:13px;
}

.top-points-board .edit-value-button
{
	display: inline-block;
	float: right;
	font-size: 20px;
	font-weight: bold;
	margin-top: -15px;
	margin-right: -7px;
	margin-left: -10px;
	cursor: pointer;
}

.top-points-board .edit-value-wrapper
{
	background: #000000;
	border: 1px solid #ffffff;
	position: absolute;
	padding: 12px 25px;
	font-size: 14px;
	text-align: center;
	z-index: 1001;
  display: none;
}

.top-points-board .edit-value-wrapper input
{
	margin-top: 10px;
	font-size: 20px !important;
	font-weight: bold;
	text-align: center;
	height: 30px;
	width: 130px;
	margin-bottom: 0px;
  padding: 0px;
}

.top-points-board .front-btn
{
	font-weight: normal;
	padding: 3px 10px;
	font-size: 16px;
	margin-top: 15px;
}

.top-points-board .edit-value-label
{

}

#edit-sales-points-wrapper
{
	margin-left: 157px;
	margin-top: 4px;
	display: none;
}

#edit-bonus-points-wrapper
{
  margin-left: 157px;
  margin-top: 4px;
  display: none;
}

#edit-commission-wrapper
{
  margin-left: -60px;
  margin-top: 30px;
  display: none;
}
.invalid-password
{
  margin-top: 5px;
  color: red;
  display: none;
}

.header-stats p
{
  line-height: 1em;
}

.column-header
{
  border-bottom:solid 2px;
  height:30px;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.right-columns
{
  width:230px;
  margin-right:21px;
  float:left;
}

.column-header-left
{
  float:left;
  font-size:22px;
}

.column-header-right
{
  float:right;
  margin-top:3px;
}

.column-picture
{
  margin-top:20px;
  margin-bottom:25px;
  height:112px;
  overflow:hidden;
}

.level-button
{
  margin-top:10px;
  width:230px;
  height:40px;
  background-color:#222;
  color:#FFF;
}

.level
{
  float:left;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size:20px;
  margin-top:10px;
  margin-left:10px;
}

.more
{
  float:right;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  color:silver;
  font-size:10px;
  margin-right:10px;
  margin-top:13px;
}

.footer
{
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.footer .controls
{
  float:right;
  margin-top:10px;
}

.info
{
  margin-bottom:15px;
  padding-top:15px;
  border-top:1px solid #999;
}

.message-board-item
{
  border-bottom:1px dotted;
  padding-top:15px;
  padding-bottom:15px;
  color:#656565;
}

.message-board-item .tick
{
  width:10px;
  float:left;
  margin-top:10px;
  margin-right:15px;
  margin-left:10px;
}

.message-board-text
{
  float:left;
  width:165px;
  line-height:20px;
  padding-right:10px;
  font-size:15px;
}

.arrow
{
  float:left;
  margin-right:10px;
  width:70px;
  height:16px;
  overflow:hidden;
  position:absolute;
  left:50%;
  margin-left:-35px;
  bottom:-16px;
}

.footer .line
{
  width:100%;
  height:45px;
  margin-bottom:10px;
  padding-top:12px;
  background:#111;
}

.footer .line .title
{
  width:285px;
  float:left;
  color:#FFF;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size:20px;
  text-transform:uppercase;
  text-align:center;
  margin:0 20px;
}


.footer .line .title a
{
  color:#FFF;
  text-decoration:none;
}

.footer .line .title a:hover
{
  color:#457a1a;
}

.footer .content {
  width: 975px;
  margin: 0 auto;
}

.footer-column
{
  border-left:1px solid #e9e9e9;
  float:left;
  font-size:12px;
  width:320px;
  padding:5px 20px;
}

.footer-column p
{
  text-align:center;
  font:12px "lucida grande",tahoma,verdana,arial,sans-serif;
  margin:10px 0;
}

.footer-column a
{
  text-decoration:underline;
  color:#777;
}

.privacy-policy
{
  width:500px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:20px;
  color:#787777;
  font-size:11px;
  font-family:'lucida grande', tahoma, verdana, arial, sans-serif;
  text-align:center;
}

.privacy-policy a
{
  color:#787777;
  text-decoration:underline;
}

.member-since
{
  float:right;
  margin-right:20px;
  font-size:14px;
  margin-top:15px;
}

.social-network-text
{
  float:left;
  margin-top:5px;
}

.social-network-text a
{
  color:#999;
}

.social-network-link
{
  border-bottom:1px solid #e7e7e7;
}

.social-network-link a
{
  font-size:13px;
  font-weight:700;
  text-transform:uppercase;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  color:#737373;
  display:block;
  text-decoration:none;
  padding:5px 10px;
}

.social-network-link a:hover
{
  background:#f5f5f5;
}

.social-network-link.current a
{
  background:#000;
  color:#FFF;
}

.followers
{
  margin-top:30px;
  margin-bottom:45px;
  height: 90px;
}

.followers .delete-box {
    margin-top: 17px;
}

.followers .delete-box .delete-network {
    display: inline-block;
    width: 70px;
    margin-right: 11px;
    text-align: center;
}

.followers-box
{
  float:left;
  margin-right:15px;
}

.form-input
{
  float:left;
  margin-top:30px;
  margin-right:15px;
  margin-bottom:10px;
  height:35px;
  width:200px;
  font-size:15px;
  color:#656565;
  padding-left:15px;
}

.form-input-big
{
  width:500px;
  height:35px;
  font-size:15px;
  color:#656565;
  padding-left:15px;
}

.form-input-small
{
  margin-top:16px;
  width:120px;
  margin-right:15px;
  height:35px;
  margin-bottom:25px;
  font-size:15px;
  color:#656565;
  padding-left:15px;
}

.form-label
{
  margin-top:45px;
  margin-bottom:10px;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.save-profile-black:hover,.save-profile-black:active,.save-profile-black:focus
{
  background-color:#222;
}

.footer-header
{
  font:13px "Helvetica Neue", Helvetica, Arial,sans-serif;
  letter-spacing:1px;
  text-transform:uppercase;
}

.tick
{
  color:#a0a0a0;
  margin-right:2px;
}

.dotted-line
{
  border-bottom:1px dotted;
  margin:15px 0;
}

.dotted-line-events
{
  border-bottom:1px dotted;
  margin-top:-15px;
}

.events-item
{
  border-bottom:1px dotted;
  margin-bottom:3px;
  line-height:20px;
}

.event-picture
{
  float:left;
  border-right:2px solid #999;
}

.event-picture .name
{
  font-size:20px;
  position:relative;
  top:-50px;
  left:10px;
  width:100px;
}

.events .footer
{
  width:755px;
}

.pagination
{
  margin-top:10px;
  float:left;
}

.pagination li
{
  display:inline;
  float:left;
  margin-right:10px;
}

.pagination a
{
  text-decoration:none;
  color:#646464;
}

.pagination .active
{
  border-radius:4px;
  border:1px solid #f1f1f1;
  background-color:#f1f1f1;
}

.event-text
{
  float:left;
  margin-left:20px;
  color:#a7a7a7;
}

.event-desciption
{
  margin-top:20px;
  color:#000;
}

.red
{
  background-color:#ffceb8;
  color:#6c3e2a;
}

.green
{
  background-color:#ccffa2;
}

.clear
{
  clear:both;
  width:0;
}

.clearfix:before,.clearfix:after
{
  content:" ";
  display:table;
}

.clearfix:after
{
  clear:both;
}

.clearfix
{
  zoom:1;
}

.name-input
{
  top:15px;
  position:relative;
}

.next-input
{
  margin-left:15px;
}

#login
{
  margin-left:370px;
}

#login .save-profile-black
{
  margin-bottom:0;
  margin-left:40px;
  clear:both;
}

#register
{
  font-size: 14px;
  margin: 0 auto;
  width: 265px;
}

#register .save-profile-black
{
  margin-bottom:0;
  margin-left:40px;
}

.tweet
{
  border-bottom:1px dotted;
  line-height:20px;
  font-size:13px;
  margin-top:10px;
  padding-bottom:10px;
}

.tweet a
{
  color:#888;
  text-decoration:none;
}

.event-calendar td
{
  width:106px;
  height:50px;
  border:1px solid #dbdbdb;
  background-color:#e9e9e9;
  color:#a5a5a5;
}

.event-calendar-cell
{
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  width:88px;
  height:40px;
  text-align:right;
  font-size:25px;
  padding-top:10px;
  padding-right:5px;
  padding-left:8px;
  opacity:0.6;
  color:#bdbdbd;
}

.circle
{
  background-color:red;
  display:inline-block;
  width:8px;
  height:8px;
  border-radius:50%;
  float:left;
}

table
{
  border:0;
  width:100%;
}

table tr
{
  background:#f4f4f4;
}

table thead tr,table tfoot tr
{
  background:#e7e7e7;
}

.fc-calendar-container
{
  width:755px;
  height:255px;
}

.fc-calendar .fc-row > div > span.fc-date
{
  bottom:10px;
  right:15px;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-weight:400;
  color:#bdbdbd;
}

.fc-calendar .fc-row > div
{
  background:#e9e9e9;
  border-right:1px solid #dbdbdb;
}

.fc-calendar .fc-row
{
  border-bottom:1px solid #dbdbdb;
}

.fc-calendar .fc-row > div.active-calendar-cell
{
  background:#f6f6f6;
}

.fc-calendar .fc-row > div.active-calendar-cell > span.fc-date
{
  color:#949494;
}

.show-events
{
  background:#222;
  height:255px;
  width:755px;
  margin-top:-30px;
}

.admin-form-button
{
  float:right;
  margin-left:10px;
}

.alert-box
{
  background:#f1f1f1;
  font-family:Tahoma,Geneva,Arial,sans-serif;
  font-weight:400;
  font-size:13px;
  border:none;
  border-bottom:1px solid #e0e0e0;
  margin:0 0 4px;
  padding:13px 15px 13px 35px;
}

.alert-box span
{
  font-weight:700;
  text-transform:uppercase;
}

.error
{
  background:url(../images/notifications/error.png) no-repeat 10px 50%;
  background-color:#FECEB8!important;
  color:#9B6B55!important;
  border-color:#f5aca6;
}

.success
{
  background:url(../images/notifications/success.png) no-repeat 10px 50%;
  background-color:#4E9819!important;
  color:#fff!important;
  border:1px solid #a6ca8a;
}

.warning
{
  background:url(../images/notifications/warning.png) no-repeat 10px 50%;
  background-color:#FFFAC2!important;
  color:#87824B!important;
  border:1px solid #f2c779;
}

.notice
{
  background:url(../images/notifications/notice.png) no-repeat 10px 50%;
  background-color:#e8ffd5!important;
  border:1px solid #8ed9f6;
  font-family:tahoma;
}

.alert-box.success,.alert-box.error,.alert-box.warning,.alert-box.notice
{
  padding-left:35px;
}

.alert-box a
{
  color:#111;
  text-decoration:none;
}

.error a
{
  color:#9b3129;
}

.warning a
{
  color:#886627;
}

.notice a
{
  color:#276881;
}

.no-image
{
  background-image:none;
  padding:10px 15px!important;
}

.notification-label
{
  background:#E4E4E4;
  color:#000;
  display:inline;
  font-size:11px;
  margin-right:15px;
  text-transform:uppercase;
  padding:3px;
}

.error .notification-label
{
  background:#EDA282;
}

.success .notification-label
{
  background:#70AF49;
  color:#fff;
}

.warning .notification-label
{
  background:#E6DC94;
}

.alert-box .wrapper-label
{
  display:inline-block;
  width:56px;
}

.form-alert
{
  margin-left:-50%;
  width:500px;
}

.form-alert-wrapper
{
  margin-bottom:50px;
  margin-left:50%;
  width:500px;
}

.content-padding
{
  padding:0 25px;
}

.medium-input
{
  width:250px;
}

.large-input
{
  width:500px;
}

.container
{
  margin-top:50px;
  min-height:500px;
}

.sort-items-header select
{
  float:left;
  margin-right:5px;
  margin-top: 2px;
  width:auto;
  padding:3px;
}

.small-btn,.small-btn:hover
{
  background:#000;
  color:#fff;
  font-size:13px;
  border:none;
  font-weight:400;
  text-decoration:none;
  padding:5px 10px;
}

.small-btn.small-btn-success
{
  background:#5da423;
}

.btn-black,.btn-black:hover,.btn-black:active,.btn-black:focus
{
  color:#fff !important;
  background:#000;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:16px;
  text-align:center;
  cursor:pointer;
  text-decoration:none;
  border:1px solid #000;
  padding:8px 20px;
}

.btn-success
{
  background:#5da423;
  display: inline-block;
  color:#fff!important;
  border:none;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:17px;
  text-align:center;
  cursor:pointer;
  text-decoration:none;
  border-bottom:1px solid #457a1a;
  -webkit-transition:.2s all ease-in-out;
  -moz-transition:.2s all ease-in-out;
  transition:.2s all ease-in-out;
  padding:10px 20px;
}

.btn-success:hover
{
  background:#457a1a;
  color:#FFF;
}

.btn-success.reminder
{
  width: 180px;
}

.btn-danger
{
  background:#b00;
  color:#fff !important;
  border:none;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:17px;
  text-align:center;
  cursor:pointer;
  text-decoration:none;
  border-bottom:1px solid #a00000;
  -webkit-transition:.2s all ease-in-out;
  -moz-transition:.2s all ease-in-out;
  transition:.2s all ease-in-out;
  padding:10px 20px;
}

.btn-danger:hover
{
  background:#a00000;
  color:#FFF;
}

.btn-default
{
  background:#9e9e9e;
  display: inline-block;
  color:#fff !important;
  border:none;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:17px;
  text-align:center;
  cursor:pointer;
  text-decoration:none;
  -webkit-transition:.2s all ease-in-out;
  -moz-transition:.2s all ease-in-out;
  transition:.2s all ease-in-out;
  padding:10px 20px;
}

.btn-default:hover
{
  background:#9e9e9e;
  color:#FFF;
}

.btn-white,.btn-white:hover
{
  color:#000;
  background:#ebebeb;
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  border:none;
  text-transform:uppercase;
  text-align:center;
  cursor:pointer;
  font-weight:400;
  padding:5px 10px;
}

.stats-sort
{
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size:14px;
}

input.small
{
  width:50px;
  display:inline;
  margin:0 5px;
}

select.small
{
  width:100px;
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button,.prefix,.postfix
{
  font-size:14px!important;
}

#broadcast-wrapper li
{
  margin-top:12px;
  vertical-align: top;
}

#admin-requests-menu
{
  margin-bottom:30px;
}

#admin-requests-menu .btn-black
{
  margin-right:15px;
}

.view-user-details
{
  font-size:16px;
  font-weight:400;
  margin:10px 15px;
}

#user-extended-info-wrapper
{
  height:100px;
}

#user-extended-info-wrapper .user-info
{
  float:left;
  height:inherit;
  padding:27px 0 0 46px;
}

#user-extended-info-wrapper .form-label
{
  margin-top:10px;
  font-size:19px;
  text-align:center;
}

/*th.next{
	background:url(../images/bg.gif) no-repeat center
}

th.prev{
	background:url(../images/bg.gif) no-repeat center
}
*/
th.header
{
  background-image:url(../images/bg.gif);
  cursor:pointer;
  background-repeat:no-repeat;
  background-position:center left;
  padding-left:20px;
}
.forgot-password{
  display: inline-block;
  margin-left: 3px;
}
.forgot-password-link{
	color: white;
  font-size: 12px;
}
.forgot-password-link:hover{
	color:white
}


th.headerSortDown
{
  background-image:url(../images/desc.gif);
}

th.headerSortUp
{
  background-image:url(../images/asc.gif);
}

.column-text-line
{
  font-size:14px;
  line-height:1.5;
}

.pb15
{
  padding-bottom:15px;
}

.mission-wrapper
{
  background:#f1f1f1;
  margin:40px 0;
  padding:30px 0;
  overflow: auto;
}

.mission-wrapper .body-wrapper
{
  margin-left:30px;
  margin-right:30px;
}

.mission-wrapper .send-wrapper
{
  margin-top:40px;
}

.mission-wrapper .send-wrapper .link
{
  width:400px;
}

.mission-title
{
  font-size:28px;
  text-transform:uppercase;
}

.mission-bonus
{
  float:right;
  font-size:18px;
  margin-right:20px;
  margin-top:10px;
}

.mission-expire .expire-title
{
  font-weight:700;
}

.mission-expire .expire-body
{
  font-size:19px;
  margin-top:5px;
}

.mission-status
{
  font-size:20px;
  margin-top:-30px;
  text-align:center;
  width:210px;
}

.mission-select {
  font-size: 11px;
  width: 60px;
  height: 25px;
}
.mission-status .incomplete
{
  background:#FF3131;
  color:#FFF;
  padding:7px 0;
}

.mission-status .waiting
{
  background:#FFA81E;
  color:#FFF;
  padding:7px 25px;
}

.mission-status .completed
{
  background:#4AC84A;
  color:#FFF;
  padding:7px 25px;
}

.mission-rejected
{
  color:#FF3131;
  font-size:20px;
  margin-bottom:-20px;
  margin-top:35px;
}

#reject-wrapper form textarea
{
  font-family:Helvetica, Arial, sans-serif;
  font-size:16px!important;
}

.missions-sort
{
  font-family:Roboto,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-size:18px;
}

.social-friends
{
  color:#FFF;
  margin-top:-22px;
  text-align:center;
  font-family:Roboto, Helvetica, Arial, sans-serif;
  font-size:.9em;
}

.level-progress
{
  background:#111;
  float:right;
  height:140px;
  margin-bottom:-20px;
  width:230px;
}

.level-progress .level-title
{
  color:#FFF;
  font-size:15px;
  font-weight:700;
  margin-top:10px;
  text-align:center;
  margin-bottom:17px;
}

.level-progress .master
{
  font-size: 19px;
}

.level-progress .bar
{
  background-color:#FFFFFF;
  height:18px;
  margin-left:40px;
  margin-top:12px;
  width:130px;
}

.level-progress .message
{
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 0 10px;
  font-family: 'Roboto';
  line-height: 19px;
  margin-top: -10px;
}

.level-progress .btn {
  display:block;
  margin: 7px auto 0 auto;
  font-weight:700;
  font-size:18px;
  border:none;
  padding:5px 27px;
}

.level-progress .btn-success {
  width: 120px;
  cursor:pointer;
  background:#65a500;
  color:#fff;
}

.level-progress .btn-pending {
  width: 130px;
  cursor: default;
  background:#FFA81E;
  color:#fff;
}

.level-progress .progression
{
  background-color:#5DA423;
  color:#FFF;
  float:left;
  font-size:11px;
  height:18px;
  padding-right:5px;
  padding-top:3px;
  text-align:right;
}

.level-progress .bar-goals
{
  background-color:#FFFFFF;
  border-radius:15px;
  color:#111;
  float:right;
  font-size:11px;
  font-weight:700;
  height:30px;
  margin-right:-25px;
  margin-top:-7px;
  padding-top:9px;
  text-align:center;
  width:30px;
}

.level-progress .bar-details
{
  color:#FFF;
  font-size:11px;
  margin-top:5px;
  text-align:center;
}

.user-stats-board .cell-text
{
  font-size:27px;
}

.mission-wrapper .fb-link
{
  font-style:italic;
}

.mission-wrapper .fb-share
{
  margin-top:25px;
  background-color:#35619E;
  width:160px;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  padding:6px 0 6px 9px;
}

.mission-wrapper .tw-share
{
  margin-top:25px;
  background-color:#009ccc;
  width:139px;
  cursor:pointer;
  padding:6px 0;
}

.mission-wrapper .pin-share
{
  margin-top:25px;
  background-color:#C72527;
  width:155px;
  cursor:pointer;
  padding:6px 0;
}

.link-social-accounts
{
  font-size:25px;
  line-height:40px;
  margin-top:40px;
}

.ranking-details
{
  font-size:16px;
  line-height:27px;
}

.ranking-wrapper
{
  margin-top:50px;
  height:190px;
}

.ranking-item
{
  float:left;
  margin-right:30px;
  width:200px;
}

.ranking-top
{
  background-color:#111;
  color:#FFF;
  height:120px;
  text-align:center;
  padding-top:26px;
}

.ranking-value
{
  font-size:38px;
}

.ranking-bottom
{
  height:30px;
  text-align:center;
  padding-top:8px;
}

.ranking-success
{
  background-color:#5DA423;
  color:#FFF;
}

.ranking-danger
{
  background-color:#C41414;
  color:#fff;
}

.goals-wrapper
{
  margin-top:30px;
}

.goal-wrapper
{
  background-color:#F1F1F1;
  font-family:Roboto, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  margin-bottom:30px;
}

.goal-top
{
  background-color:#000;
  color:#FFF;
  height:50px;
  text-align:center;
  line-height:50px;
}

.goal-title
{
  font-size:22px;
}

.goal-middle
{
  height:230px;
  padding-left:70px;
  padding-top:30px;
}

.goal-middle .rank-display
{
  width:200px;
  text-align:center;
  float:left;
}

.goal-middle .rank-top
{
  background-color:#111;
  color:#FFF;
  height:135px;
  padding-top:35px;
}

.goal-middle .rank-value
{
  font-size:40px;
  margin-bottom:7px;
}

.goal-middle .rank-bottom-success
{
  background-color:#1EAE17;
  color:#FFF;
  height:30px;
  line-height:30px;
}

.goal-middle .rank-bottom-danger
{
  background-color:#C41A1A;
  color:#FFF;
  height:30px;
  line-height:30px;
}

.goal-middle .progress-bar
{
  margin-left:270px;
  margin-top:35px;
}

.goal-middle .bar-title
{
  font-size:20px;
  font-weight:700;
}

.goal-middle .bar-wrapper
{
  background-color:#6B6869;
  color:#FFF;
  height:28px;
  margin-top:19px;
  width:350px;
}

.goal-middle .progress-wrapper
{
  background-color:#1FAE19;
  text-align:right;
  height:inherit;
  line-height:28px;
}

.goal-middle .progress-label
{
  font-size:14px;
  margin-right:10px;
}

.goal-middle .progress-label.completed
{
  text-align: center;
}

.goal-middle .total-wrapper
{
  background-color:inherit;
  border-radius:32px;
  float:right;
  height:64px;
  margin-right:-10px;
  margin-top:-46px;
  text-align:center;
  width:64px;
}

.goal-middle .total-wrapper.completed
{
    background: #1FAE19;
}

.goal-middle .total-value
{
  font-size:13px;
  font-weight:700;
  margin-top:21px;
}

.goal-middle .total-label
{
  font-size:12px;
}

.goal-details
{
  margin-left:270px;
  margin-top:3px;
  line-height:20px;
}

.goal-details .detail-label
{
  float:left;
  font-size:15px;
  font-weight:700;
  width:150px;
}

.goal-details .detail-value
{
  font-size:15px;
}

.goal-bottom
{
  padding:30px;
}

.bottom-left-blog {
  width: 390px;
}

.bottom-right-blog
{
  margin-bottom:50px;
  margin-left:390px;
}

.blog-title
{
  font-size:25px;
  margin-top:10px;
}

.blog-desc
{
  margin-top:5px;
  font-size:15px;
}

.tabs-no-header .ui-widget-header
{
  background:transparent!important;
}

.tabs-no-header .ui-tabs
{
  margin-top:40px;
  position:relative;
  padding:0!important;
}

.tabs-no-header .ui-tabs .ui-tabs-nav
{
  position:absolute;
  margin:-32px -1px 0;
  padding:0!important;
}

.tabs-no-header .ui-tabs-nav li
{
  border:0!important;
  background-color:#fff!important;
}

#paypal-info
{
  margin-left:20px;
  margin-bottom:20px;
  font-size:12px;
}

.blog-post h3
{
  margin-top:-10px;
}

.blog-post .blog-post-postedby
{
  margin-top:-15px;
  font-size:14px;
  font-style:italic;
}

.blog-post .blog-post-description
{
  margin-top:10px;
  margin-bottom:20px;
}

#profile-wrapper-1
{
  height:100px;
  width:122px;
  cursor:pointer;
  overflow:hidden;
  position:relative;
}

#profile-wrapper-1 input
{
  margin-top:5px;
  filter:alpha(opacity=1);
  -moz-opacity:0.01;
  opacity:0.01;
}

#profile-wrapper-2
{
  width:122px;
  margin-left:130px;
  margin-top:-100px;
  height:120px;
  overflow:hidden;
  position:relative;
  cursor:pointer;
}

#profile-wrapper-2 input
{
  margin-top:3px;
  filter:alpha(opacity=1);
  -moz-opacity:0.01;
  opacity:0.01;
}

.choose-file-btn
{
  margin-left:25px;
  margin-top:3px;
  color:#fff;
  font-family:Roboto, Helvetica, Helvetica, Arial, sans-serif;
}

.blog-wrapper
{
  width:610px;
}

.blog-page-wrapper
{
  overflow:auto;
  overflow-y:hidden;
  padding-top:30px;
}

.vertical-menu
{
  display:none;
  background-color:#262626;
  clear:both;
  margin-left:0;
  margin-top:45px;
  position:absolute;
  width:230px;
  z-index:999999;
  padding:15px 0 20px 20px;
}

.vertical-menu li
{
  clear:both;
  list-style:none;
}

.vertical-menu li a
{
  color:#ccc;
  padding:0;
}

.vertical-menu li.vertical-current a
{
  color:#fff;
  padding:0;
}

.vertical-menu li.vertical-delimiter
{
  border-bottom:1px solid #888;
  width:170px;
  padding-top:5px;
  margin-bottom:5px;
}

.ui-tooltip,.arrow:after
{
  background:#000;
  border:2px solid #FFF;
}

.ui-tooltip
{
  color:#FFF;
  border-radius:20px;
  font:bold 14px "Helvetica Neue", Sans-Serif;
  text-transform:uppercase;
  box-shadow:0 0 7px #000;
  padding:10px 20px;
}

.arrow.top
{
  top:-16px;
  bottom:auto;
}

.arrow.left
{
  left:20%;
}

.arrow:after
{
  content:"";
  position:absolute;
  left:20px;
  top:-20px;
  width:25px;
  height:25px;
  box-shadow:6px 5px 9px -9px #000;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  tranform:rotate(45deg);
}

.arrow.top:after
{
  bottom:-20px;
  top:auto;
}

.tooltip-left-box
{
  width:200px;
  margin-top:-33px;
  height:108px;
}

.tooltip-top-box
{
  width:178px;
  margin-top:-20px;
  margin-left:-15px;
  height:79px;
}

.tooltip-top-box-green
{
  width:234px;
  margin-top:-20px;
  margin-left:-15px;
  height:79px;
}

.front-header
{
  background:#000;
}

.front-header .inner
{
  width:100%;
  padding:0 60px;
}

.front-header .header-top-left
{
  height:50px;
  width:500px;
}

.front-header .logo
{
  margin-top:15px;
  float:left;
}

.front-header .text-logo
{
  color:#fff;
  text-decoration:none;
  font-size:18px;
  margin-bottom:-10px;
  margin-top:16px;
  margin-left:141px;
}

.front-header .login-form
{
  float:right;
  margin-top:-76px;
}

.front-header .login-form form,
.front-header .login-form div
{
  display:inline-block;
}

.front-header .login-form input
{
  height:20px;
  margin-bottom:-6px;
  padding:0 5px;
}

.front-header .login-form .form-label
{
  color:#fff;
  font-size:13px;
}

.front-header .login-form .login-input
{
  margin-right:8px;
  margin-top:16px;
  width:130px;
}

.front-header .login-form .login-input input
{
  border:none;
  box-shadow:inset 0 2px 8px #999;
  font-size:12px!important;
}

.front-header .login-form .login-btn input
{
  background:#fff;
  border:none;
  font-size:12px;
  font-weight:700;
}

.front-content
{
  width:650px;
  margin:250px auto auto;
}

.content-404
{
  width:650px;
  margin:100px auto;
}

.content-maintenance
{
  width:650px;
  margin:auto;
  padding-top: 20%;
}

.opacity-bg
{
  background:rgba(17, 17, 17, 0.83);
}

.front-content .login-title,
.front-content .register-title,
.front-content .social-title,
.front-content .thankyou-title,
.content-404 .login-title,
.content-404 .register-title,
.content-404 .social-title,
.content-404 .thankyou-title,
.content-maintenance .login-title,
.content-maintenance .register-title,
.content-maintenance .social-title,
.content-maintenance .thankyou-title
{
  height:45px;
  text-align:center;
  color:#fff;
  font-weight:700;
  font-size:29px;
  line-height:45px;
}

.front-content .register-inviter {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
  padding-top: 15px;
}

.front-content .register-inviter .pic {
  display: inline-block;
  width: 85px;
  vertical-align: top;
}

.front-content .register-inviter .pic img {
  box-shadow: 0px 0px 1px rgb(255, 255, 255);
  margin-left: 35px;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
}

.front-content .register-inviter .content {
  display: inline-block;
  width: 485px;
  vertical-align: top;
  margin-top: 15px;
  margin-right: 75px;
}

.front-content .register-inviter .content .name {
  color: #fff;
  margin-top: 7px;
  margin-bottom: 30px;
}

.front-content .social-content
{
  margin-top:10px;
  color:#fff;
  text-align:center;
  font-size:15px;
  line-height:22px;
  padding:25px 16px;
}

.front-content .thankyou-content
{
  margin-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  padding: 35px 16px;
}

.front-content .thankyou-content span {
  display:block;
}

.front-content .thankyou-content img {
  width: 60px;
  margin-bottom: 25px;
}

.front-content .login-content,
.content-404 .login-content,
.content-maintenance .login-content
{
  margin-top:10px;
  color:#fff;
  text-align:center;
  font-size:16px;
  line-height:24px;
  padding: 25px 0;
}

.front-content .register-content
{
  margin-top:10px;
  color:#fff;
  padding:20px 0 10px;
}

.front-content .register-content input[type="text"],.front-content .register-content input[type="password"],.front-content .register-content input[type="email"],.front-content .register-content textarea
{
  box-shadow:inset 0 2px 8px #999;
  height:23px;
  padding:0 5px;
}

.front-btn
{
  display:inline-block;
  background:#65a500;
  font-weight:700;
  color:#fff;
  font-size:18px;
  cursor:pointer;
  border:none;
  padding:2px 27px;
}

.fb-btn, .fb-btn:hover {
  width: 300px;
  margin: auto;
  text-align: center;
  background: #214F85;
  padding: 17px 40px;
  margin-bottom: 45px;
  cursor: pointer;
  display: block;
  color: #fff;
  text-decoration: none;
}

.front-alerts
{
  width:530px;
  margin:auto;
  padding:15px 0;
}

.login-alerts
{
  margin-top:110px;
  margin-bottom:-150px;
}

#user-notifications-handler
{
  display:inline-block;
  float:right;
  margin-left:630px;
  font-size:13px;
  margin-top:-18px;
  margin-bottom:40px;
  padding:5px 10px;
}

#clear-all-notifications
{
  display:none;
  float:right;
  margin-right:60px;
  font-size:13px;
  margin-top:-68px;
  margin-bottom:40px;
  padding:5px 10px;
}

.delete-notification
{
  float:right;
  margin-top:-1px;
  font-weight:700;
  font-size:15px;
  cursor:pointer;
}

.text-logo-black
{
  margin-top:-23px;
  margin-bottom:10px;
  margin-left:218px;
  font-size:22px;
  font-family:Helvetica, Arial, sans-serif;
}

.dynamic-text p
{
  line-height:1.3em;
}

.dynamic-text pre
{
  font-family:Roboto;
}

a:hover,a:focus,.blog-post h3 a,.header-top-left a
{
  text-decoration:none;
  color:#000;
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button,.ui-tabs .ui-tabs-nav li a,.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a
{
  font-family:Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.cart,#reject-wrapper
{
  display:none;
  margin-top:40px;
}

.dropdown-text,.profile-picture,.section-title,.social-network-logo,.left,.bottom-left-blog,.blog-left-column
{
  float:left;
}

.dropdown-text a,.followers-box a,.front-header a
{
  text-decoration:none;
}

.content-bottom .header-stats:first-child,.content-bottom .header-stats.first,.form-horizontal.compact .dotted-line,.column-left .column-header:first-child
{
  margin-top:0;
}

.header-stats p,.instagram-row
{
  margin-bottom:10px;
}

.label-input,.mission-expire
{
  margin-top:15px;
}

.calendar-button,.mission-wrapper .status-wrapper,.blog-right-column
{
  float:right;
}

.instagram,.right-column-content
{
  margin-top:25px;
}

.cell.black .cell-sub-text,.cell.black .cell-sub-text a,.top-green-cell .cell-sub-text,.top-green-cell .cell-sub-text a
{
  color:#FFF;
  text-decoration:none;
}

.top-cell a,.top-green-cell a,.success a
{
  color:#fff;
  text-decoration:none;
}

.top-points-board .cell-sub-text,.fc-calendar .fc-row > div.fc-today.active-calendar-cell > .fc-date
{
  color:#FFF;
}

.more-double-arrow,.ranking-progress,.goal-middle .rank-status
{
  font-size:14px;
}

.footer-column a:hover,.social-network-text a:hover,.tweet a:hover
{
  color:#333;
}

.personality,.admin-table,.mission-wrapper .fb-text
{
  margin-top:10px;
}

#first,.front-content .register-content input,.front-content .register-content textarea
{
  border:none;
}

.events,.admin-checkbox,.mission-description,.mission-video
{
  margin-top:20px;
}

.twitter,#filters ul
{
  list-style:none;
}

.tweet span,.tweet span:last-child,.block
{
  display:block;
}

.fc-calendar .fc-head,#filters
{
  display:none;
}

.fc-calendar .fc-row > div.fc-today,.fc-calendar .fc-row > div.fc-today.active-calendar-cell
{
  background:#222220;
}

.btn-success:active,.btn-danger:active
{
  box-shadow:0 1px 2px rgba(0,0,0,0.2) inset;
}

.inline,.profile-picture-right
{
  display:inline;
}

.user-stats-board .cell-sub-text,.ranking-label
{
  margin-top:5px;
}

.mission-wrapper .tw-share a,.mission-wrapper .pin-share a
{
  text-decoration:none;
  color:#fff;
  margin-left:9px;
}

.featured-blog,.dynamic-text h3
{
  margin-bottom:20px;
}

.featured-blog a,.bottom-right-blog a,.bottom-left-blog a
{
  text-decoration:none;
  color:#222;
}

.text-logo-black .beta,.text-logo .beta
{
  display:inline;
  color:#d50000;
  font-size:15px;
  font-weight:700;
}

#accept-terms-wrapper {
  background: #000000;
  width: 500px;
  text-align: center;
  color: #ffffff;
  padding: 5px 0;
  margin: 50px auto;
}

#accept-terms-wrapper a {
  color: #ffffff;
}

#accept-terms-wrapper input[type='submit'] {
  display: block;
  margin: 10px auto 0 auto;
  background:#65a500;
  font-weight:700;
  color:#fff;
  font-size:18px;
  cursor:pointer;
  border:none;
  padding:2px 27px;
}

.pagination-wrapper
{
  width: 150px;
  margin: 40px auto 65px auto;
}

.pagination-next-page
{
  display: inline-block;
  float: right;
}

.pagination-prev-page
{
  display: inline-block;
  float: left;
}

.user-tags-wrapper
{
  width: 760px;
  margin-bottom: 40px;
  margin-top: -10px;
}

.user-tags-wrapper .user-tag
{
  display: inline-block;
  padding: 7px 11px;
  font-size: 14px;
  margin-right: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.user-tags-wrapper .user-tag-default
{
  background-color: #eeeeee;
  color: #565656;
  -webkit-box-shadow: 1px 2px 1px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    1px 2px 1px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         1px 2px 1px 0px rgba(50, 50, 50, 0.25);
}

.user-tags-wrapper .user-tag-selected
{
  color: #ffffff;
  background: #5d5d5d;
}

.user-tags-filter-wrapper
{
  display: block;
  margin-bottom: 15px;
  margin-top: 10px;
}

#filter-add-user-tag
{
  display: inline-block;
  margin-left: 10px;
  color: #ffffff;
  background-color: #000000;
  padding: 4px 6px;
  cursor: pointer;
  margin-top:3px;
  font-size: 12px;
}

.filter-label
{
  float:left;
  padding-top: 5px;
}

#user-tags-options-wrapper
{
  display: inline-block;
  margin-left: 10px;
  float: left;
}

.tag-options
{
  display: inline-block;
  height: 30px;
}

.tag-options select
{
  float: left;
  margin-right: 5px;
  width: auto;
  padding: 3px;
}

.fade-background
{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  z-index: 1000;
  display: none;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

.admin-notification-message
{
  display: inline-block;
  width: 550px;
  line-height: 1.4em;
}

.admin-notification-date
{
  display: inline-block;
  color: #000000;
  float: right;
  margin-top: -8px;
  line-height: 1.4em;
}

.ui-tabs,
.ui-tabs-nav li
{
  font-size: 13.5px;
}

#multiple-discount-hide,
#sales-team-hide
{
  color: #ffffff;
  background: #000000;
  position: relative;
  z-index: 1000;
  text-align: center;
  filter:alpha(opacity=75);
  -moz-opacity:0.75;
  opacity:0.75;
}

.layout-lock
{
  margin-bottom: 10px;
  height: 35px;
}

.user-notification-message
{
  float: left;
  margin-top: 5px;
}

.user-notification-date
{
  float: right;
  color: #000000;
  line-height: 1.4em;
  margin-top: -6px;
}

.success .user-notification-date
{
  color: #ffffff;
}

.user-notification-wrapper
{
  height: 45px;
}

#fb-accounts {
  display: none;
  position: absolute;
  left: 493px;
  padding: 27px 70px;
  background: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 11px;
  text-align: center;
  z-index: 1001;
}

#fb-accounts .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  display: inline-block;
}

#fb-accounts .account {
  margin-top: 15px;
  cursor: pointer;
  display: block;
  color: #ffffff;
}

#fb-accounts .front-btn {
  font-size: 13px;
  border: none;
  font-weight: 400;
  text-decoration: none;
  padding: 7px 11px;
  font-family: Roboto, Helvetica;
  margin-top: 30px;
  display: block;
  width: 105px;
  margin-left: auto;
  margin-right: auto;
}

#fb-accounts .front-btn a {
  color: #ffffff;
  text-decoration: none;
}

.front-img {
    margin-bottom: 15px;
}

.front-img a.link {
    color: #000000;
}

.admin-label {
  margin-top: 7px;
  font-size: 12px;
  margin-bottom: 15px;
}

.pk-comments {
  margin-bottom: 20px;
}

.pk-comments .show {
  color: #b30000;
  /*text-decoration: underline;*/
  cursor: pointer;
}

.pk-comments .list {
  margin: 15px 0;
}

.pk-comments .list .item {
  margin-top: 10px;
  color: #333;
  background: #f2f2f2;
  font-size: 14px;
  padding: 10px;
}

.pk-comments .list .item .header {
  height: 28px;
}

.pk-comments .list .item .header .admin {
  float: left;
}

.pk-comments .list .item .header .created {
  float: right;
}

.pk-comments .list .item .delete {
  float: right;
}

.pk-comments .list .item .value {
  width: 600px;
}

.pk-comments .expand {
  display: none;
}

.pk-sent {
  font-size: 16px;
}

.pk-sent a,
.pk-sent div {
  width: 252px;
}

.coupon-generator {
  width: 200px;
}

.coupon-generator .show {
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  background: #ebebeb;
  padding: 10px;
  cursor: pointer;
  margin-top: 40px;
}

.coupon-generator form {
  display: none;
  margin-top: 15px;
}

#register.ipad {
  width: 500px;
  font-size: 16px;
}

#register.ipad input {
  padding: 25px 15px;
}

#register.ipad textarea {
  padding: 15px 15px;
  font-size: 14px;
  font-family: 'Roboto';
}

#register.ipad select {
  padding: 15px 15px;
}

#link-networks .total {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
}

#profile-wrapper-1.ipad{
  height: 175px;
  width: 240px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.ipad .choose-file-btn {
  margin-left: 75px;
  margin-top: 6px;
  color: #fff;
  font-family: Roboto, Helvetica, Helvetica, Arial, sans-serif;
}

#profile-wrapper-2.ipad{
  width: 240px;
  margin-left: 255px;
  margin-top: -175px;
  height: 190px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.register-content.ipad {
  margin-top: 10px;
  color: #fff;
  padding: 30px 0 30px;
}

#vine-login {
  width: 360px;
  margin: 100px auto;
}

#vine-login .title {
  text-align: center;
}

#vine-login .title img {
  width: 180px;
  margin-bottom: 10px;
}

#vine-login form input {
  width: 100%;
  margin-top: 10px;
  border: none;
  background: #e4e4e4;
  padding: 8px;
  border-radius: 3px;
}

#vine-login form input[type="submit"] {
  width: 110px;
  background: #24B590;
  color: #fff;
  border-radius: 20px;
  font-size: 17px;
  margin-top: 30px;
  margin-left: 80px;
  cursor: pointer;
  outline: none;
}

#vine-login a {
  text-decoration: none;
  color: #24B590;
}

#vine-login a.cancel {
  margin-left: 20px;
}

#link-to-master {
  color: #b30000;
  margin-top: 36px;
  margin-bottom: 30px;
  text-decoration: underline;
  cursor: pointer;
}

.sub-title {
  font-size: 0.6em;
  padding-top: 14px;
}

#coupons-table th,
#coupons-table td {
  font-size: 0.74em;
}

.comment-send-mail {
  display: inline-block;
}

.comment-send-mail input[type=checkbox] {
  margin: 1px 3px 0 10px;
  float: left;
}

input[type="checkbox"].all-countries-ckb {
  margin: 5px 5px 15px 0;
}

.product {
  display: inline-block;
  width: 24%;
  vertical-align: top;
  margin-bottom: 50px;
  border-bottom: 1px solid #EFEFEF;
}

.product-title {
  font-size: 12px;
  font-weight: bold;
}

.product-mini-btn {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  background-color: #333;
  cursor: pointer;
  transition:all 0.3s;
  padding: 6px 8px;
}

.product-mini-btn:hover{
  opacity: 0.7;
}
.product-mini-btn.selected {
  background-color: #1B0;
}

.product-mini-btn-get {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #1B0;
  font-size: 11px;
  padding: 6px 5px;
  width: 90px;
  display: block;
}


.product-mini-btns {
  display: inline;
}

.product-mini-btns-wrapper {
  position: relative;
  top: -23px;
  height:30px;

}

.cell.selected-product {
  background-color: #1B0;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.cell.selected-product .cell-sub-text {
  color:#fff;
  margin-bottom: 16px;
}

.cell.selected-product .cell-text {
  margin-bottom: 7px;
}

.cell.selected-product .small-btn.small-btn-success {
  background: #fff;
  color: #333;
  line-height: 3;
}

/* start orders */


/* line 819, ../../../source/sass/shop-admin/src/main.sass */
#order-view-addresses h2, #order-view-addresses #fp-showcase a, #fp-showcase #order-view-addresses a, #order-view-addresses #fp-bottomsection a, #fp-bottomsection #order-view-addresses a,
#order-view-contact h2,
#order-view-contact #fp-showcase a,
#fp-showcase #order-view-contact a,
#order-view-contact #fp-bottomsection a,
#fp-bottomsection #order-view-contact a,
#order-view-progress h2,
#order-view-progress #fp-showcase a,
#fp-showcase #order-view-progress a,
#order-view-progress #fp-bottomsection a,
#fp-bottomsection #order-view-progress a {
  background: none;
  font-size: 14px;
  margin: 0;
  padding: 0; }


/* line 908, ../../../source/sass/shop-admin/src/main.sass */
#order-view-ledger .type {
  font-weight: bold;
  }
  /* line 911, ../../../source/sass/shop-admin/src/main.sass */
  #order-view-ledger .type.invoice {
    color: #aa1100; }
  /* line 913, ../../../source/sass/shop-admin/src/main.sass */
  #order-view-ledger .type.payment {
    color: #228800; }
/* line 923, ../../../source/sass/shop-admin/src/main.sass */
#order-view-ledger .created {
  text-align: right;
  }
/* line 926, ../../../source/sass/shop-admin/src/main.sass */
#order-view-ledger .amount {
  font-weight: bold;
  text-align: right; }
/* line 825, ../../../source/sass/shop-admin/src/main.sass */
#order-view-addresses {
  background: #e0e0e0;
  float: left;
  margin: 0 0 10px 0;
  padding: 11px;
  width: 400px; }

/* line 833, ../../../source/sass/shop-admin/src/main.sass */
#order-view-shipping-address,
#order-view-billing-address {
  float: left;
  width: 181px; }

/* line 839, ../../../source/sass/shop-admin/src/main.sass */
#order-view-contact {
  clear: left;
  margin: 0 0 10px 0;
  width: 400px; }
/* line 845, ../../../source/sass/shop-admin/src/main.sass */
#order-view-progress {
  border: 1px solid #dddddd;
  clear: both;
  float: right;
  padding: 10px;
  width: 320px; }
  /* line 851, ../../../source/sass/shop-admin/src/main.sass */
  #order-view-progress li {
    background: url(/images/cross.png) no-repeat 0 50%;
    padding: 3px 0 3px 20px; }
    /* line 854, ../../../source/sass/shop-admin/src/main.sass */
    #order-view-progress li.complete {
      background-image: url(/images/tick.png); }
    /* line 857, ../../../source/sass/shop-admin/src/main.sass */
    #order-view-progress li .change-status:hover {
      cursor: pointer; }
    /* line 859, ../../../source/sass/shop-admin/src/main.sass */
    #order-view-progress li .time {
      float: right;
      color: #999999; }
  /* line 862, ../../../source/sass/shop-admin/src/main.sass */
  #order-view-progress .tracking {
    padding: 5px 0 0 0;
    border-top: 1px dotted #dddddd;
    margin: 5px 0 0 0; }
    /* line 866, ../../../source/sass/shop-admin/src/main.sass */
    #order-view-progress .tracking em {
      color: #999999; }
  /* line 868, ../../../source/sass/shop-admin/src/main.sass */
  #order-view-progress a {
    cursor: pointer; }
/* line 825, ../../../source/sass/shop-admin/src/main.sass */
#order-view-addresses {
  background: #e0e0e0;
  float: left;
  margin: 0 0 10px 0;
  padding: 11px;
  width: 400px; }
.content-box ol, ul {
  list-style: none;
}
.content-box input, select, textarea {
  border-radius: 2px;
  color: #202020;
  font: 11px/1.5 Helvetica, Arial, sans-serif;
  padding: 4px 5px; }
.content-box a {
  border: none;
  border-radius: 2px;
  color: #202020;
  padding: 0;
  -webkit-transition: color 600ms;
  color: #c00;
}

.content-box {
  background-color: white;
  margin: 0 5px;
  padding: 10px;
  font-size: 13px; }

/* line 53, ../../../source/sass/shop-admin/src/main.sass */
.content-box h1, .content-box h2, .content-box #fp-showcase a, #fp-showcase .content-box a, .content-box #fp-bottomsection a, #fp-bottomsection .content-box a {
  background: whitesmoke;
  margin: 0 0 10px 0;
  overflow: visible; }
/* line 57, ../../../source/sass/shop-admin/src/main.sass */
.content-box h1 {
  height: 28px;
  line-height: 25px;
  padding: 3px 5px;
  text-transform: none; }
  /* line 63, ../../../source/sass/shop-admin/src/main.sass */
  .content-box h1 .heading {
    font: bold 20px "BreuerCondensed";
    text-transform: uppercase;
    vertical-align: top; }
  /* line 67, ../../../source/sass/shop-admin/src/main.sass */
  .content-box h1 .filter {
    float: right;
    margin: 0 10px 0 0; }
    /* line 70, ../../../source/sass/shop-admin/src/main.sass */
    .content-box h1 .filter input {
      width: 150px; }
  /* line 72, ../../../source/sass/shop-admin/src/main.sass */
  .content-box h1 .show-inactive {
    float: right;
    margin: 0 10px 0 0;
    font-size: 12px; }
    /* line 76, ../../../source/sass/shop-admin/src/main.sass */
    .content-box h1 .show-inactive input {
      margin: 5px;
      position: relative;
      top: 2px; }
  /* line 80, ../../../source/sass/shop-admin/src/main.sass */
  .content-box h1 .buttons {
    float: right; font-size: 18px;}
    /* line 82, ../../../source/sass/shop-admin/src/main.sass */
    .content-box h1 .buttons a.create {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      padding: 0 15px 0 35px;
      background: url(/images/add.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #6dc824, #437a16);
      border-bottom: 1px solid #376512;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      color: white;
      cursor: pointer;
      font-weight: bold;
      height: 25px;
      line-height: 25px;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); }
      /* line 55, ../../../source/sass/shop-admin/src/_base.sass */
      .content-box h1 .buttons a.create:hover {
        background: url(/images/add.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #79d92d, #478318);
        border-bottom: 1px solid #437a16; }
      /* line 58, ../../../source/sass/shop-admin/src/_base.sass */
      .content-box h1 .buttons a.create:active {
        border-bottom: none;
        border-top: 1px solid #142407;
        background: url(/images/add.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #376512, #4e901a);
        box-shadow: none; }
    /* line 84, ../../../source/sass/shop-admin/src/main.sass */
    .content-box h1 .buttons a.back {
      display: inline-block;
      vertical-align: middle;
      font-family: Roboto, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
      padding: 3px 15px 3px 15px;
      font-size: 16px;
      font-weight: normal;
      border-radius: 0;
      margin-top: -5px;
      background: #000;
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
      /* line 58, ../../../source/sass/shop-admin/src/_base.sass */
      .content-box h1 .buttons a.back:active {
        border-bottom: none;
        border-top: 1px solid #193b55;
        background: url(/images/resultset_previous.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #2b6590, #3780b7);
        box-shadow: none; }
    /* line 86, ../../../source/sass/shop-admin/src/main.sass */
    .content-box h1 .buttons a.edit {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      padding: 0 15px 0 35px;
      background: url(/images/setting_tools.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #6dc824, #437a16);
      border-bottom: 1px solid #376512;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      color: white;
      cursor: pointer;
      font-weight: bold;
      height: 25px;
      line-height: 25px;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
      margin-right: 10px; }
      /* line 55, ../../../source/sass/shop-admin/src/_base.sass */
      .content-box h1 .buttons a.edit:hover {
        background: url(/images/setting_tools.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #79d92d, #478318);
        border-bottom: 1px solid #437a16; }
      /* line 58, ../../../source/sass/shop-admin/src/_base.sass */
      .content-box h1 .buttons a.edit:active {
        border-bottom: none;
        border-top: 1px solid #142407;
        background: url(/images/setting_tools.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #376512, #4e901a);
        box-shadow: none; }
    /* line 89, ../../../source/sass/shop-admin/src/main.sass */
    .content-box h1 .buttons a.preview {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      padding: 0 15px 0 35px;
      background: url(/images/magnifier.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #e3e3e3, #b5b5b5);
      border-bottom: 1px solid #a8a8a8;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      color: white;
      cursor: pointer;
      font-weight: bold;
      height: 25px;
      line-height: 25px;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); }
      /* line 55, ../../../source/sass/shop-admin/src/_base.sass */
      .content-box h1 .buttons a.preview:hover {
        background: url(/images/magnifier.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #efefef, #bababa);
        border-bottom: 1px solid #b5b5b5; }
      /* line 58, ../../../source/sass/shop-admin/src/_base.sass */
      .content-box h1 .buttons a.preview:active {
        border-bottom: none;
        border-top: 1px solid #828282;
        background: url(/images/magnifier.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #a8a8a8, #c2c2c2);
        box-shadow: none; }
    /* line 91, ../../../source/sass/shop-admin/src/main.sass */
    .content-box h1 .buttons input[type=submit] {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      padding: 0 15px 0 35px;
      background: url(/images/cross.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #ec1200, #910b00);
      border-bottom: 1px solid #770900;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      color: white;
      cursor: pointer;
      font-weight: bold;
      height: 25px;
      line-height: 25px;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); }
      /* line 55, ../../../source/sass/shop-admin/src/_base.sass */
      .content-box h1 .buttons input[type=submit]:hover {
        background: url(/images/cross.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #ff1a07, #9b0c00);
        border-bottom: 1px solid #910b00; }
      /* line 58, ../../../source/sass/shop-admin/src/_base.sass */
      .content-box h1 .buttons input[type=submit]:active {
        border-bottom: none;
        border-top: 1px solid #2b0300;
        background: url(/images/cross.png) no-repeat 12px 50%,  -webkit-linear-gradient(top, #770900, #aa0d00);
        box-shadow: none; }
/* line 93, ../../../source/sass/shop-admin/src/main.sass */
.content-box h2, .content-box #fp-showcase a, #fp-showcase .content-box a, .content-box #fp-bottomsection a, #fp-bottomsection .content-box a {
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  padding: 0 5px; }
/* line 98, ../../../source/sass/shop-admin/src/main.sass */
.content-box .filter-country {
  width: auto; }
/* line 100, ../../../source/sass/shop-admin/src/main.sass */
.content-box .filter-featured {
  width: auto; }
/* line 102, ../../../source/sass/shop-admin/src/main.sass */
.content-box .inactive-country {
  display: none !important; }
/* line 104, ../../../source/sass/shop-admin/src/main.sass */
.content-box .inactive-featured {
  display: none !important; }
/* line 106, ../../../source/sass/shop-admin/src/main.sass */
.content-box .data-countries {
  width: 370px; }

/* end orders */


/* Inline CSS */

.admin-tabs {
  margin-top: 10px;
  border: 0;
}

.admin-tab-2 table {
  margin-top: 10px;
  border: 0;
}

.blog-post-image,
.events-view-image {
  width: 970px;
}

.blog-image,
.events-image {
  width: 560px;
}

.btn-blog-add {
  display: inline-block;
  margin-left: 127px;
  margin-bottom: 20px;
}

.blog-instagram-wrapper {
  width: 300px;
}

.blog-instagram-image {
  margin-top: 7px;
  margin-left: 3px;
  width:90px;
}

.no-mb{
  margin-bottom:0;
}

.no-mt{
  margin-top:0;
}

.no-pb{
  padding-bottom:0;
}

.dotted-line-mt {
  margin-top:95px;
}

.height-auto {
  height:auto;
}

.checkout-standard-address-title,
.checkout-shipping-address-title {
  padding-left: 0.35em;
}
.checkout-submit-order {
  opacity: 1;
  float:right;
}

.package-size-selector {
  width: 100px;
  margin-bottom: 0;
}

.contact-message {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.contact-from-margin {
  margin-left: 375px;
}

.contact-btn-submit {
  width: 77px;
  margin-left: 45px;
  margin-top: 15px;
}

.coupons-alert-success{
  margin-bottom:30px;
}

.coupons-alert-success-single-use{
  margin-bottom: 30px;
  margin-top: 30px;
}

.coupons-alert-error-single-use{
  margin-bottom: 0;
  margin-top: 50px;
}

.coupons-create-submit{
  width: 100%;
  text-transform: uppercase;
}

.display-none {
  display:none;
}

.events-btn-add {
  float: right;
  padding: 10px;
  margin-right: 25px;
}

.forgot-email-btn-submit,
.forgot-reset-btn-submit {
  font-size: 17px;
  padding-top: 8px;
  margin-left: 80px;
}

.goals-no-progress {
  width: 30px;
  background-color: transparent;
}

.invalid-register-reg-company,
.login-reg-company {
  margin-top: 12px;
}

.ipad-front-content,
.register-company-front-content,
.register-front-content {
  margin-top: 50px;
}

.ipad-please-fill,
.register-company-please-fill,
.register-please-fill {
  text-align: center;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 23px;
}

.ipad-label-birthday,
.register-company-label-birthday,
.register-label-birthday {
  margin-bottom: 5px;
  font-family: "Roboto";
}

.register-company-label-birthday,
.register-label-birthday {
  color: #ffffff;
}

.register-company-pic,
.register-pic {
  max-width: 122px;
  max-height: 77px;
}
.register-select-birthday {
  display: inline;
  width: 80px;
}
.ipad-select-birthday {
  display: inline;
  width: 160px;
}
.ipad-select-birthday-us {
  float: left!important;
  margin-right:4px!important;
}

.ipad-input-dial-prefix,
.register-company-dial-prefix,
.register-dial-prefix {
  width: 80px!important;
  display: inline!important;
}

.ipad-input-phone {
  width: 400px!important;
  display: inline!important;
}

.register-company-input-phone,
.register-input-phone {
  width: 165px!important;
  display: inline!important;
}

.ipad-school,
.register-school {
  margin-bottom: 10px;
}

.ipad-school-input-radio-wrapper,
.register-school-input-radio-wrapper {
  display: inline;
  margin-right: 20px;
}

.ipad-school-input-radio-wrapper span {
  font-size:22px;
  color:#FFF;
}

.register-twitter-description,
.register-find-source {
  height: 110px;
}

.register-questions {
  margin-bottom: 10px;
}

.ipad-school-input-radio,
.ipad-checkbox-terms {
  vertical-align:middle;
}

.ipad-accept {
  font-size:22px;
  color:#FFF;
}

.ipad-link-terms,
.register-company-link-terms ,
.register-link-terms {
  color: #ffffff;
}

.ipad-submit {
  margin-top: 20px!important;
  margin-left: 190px!important;
  padding: 2px 40px!important;
}

.register-company-submit,
.register-submit {
  margin-top: 10px;
  margin-left: 70px;
}

.main-no-level-progression {
  width:7px;
}

.main-notification-info {
  margin-top: 25px;
  margin-bottom: -12px;
  font-weight: bold;
}

  .main-notification-info__count {
    display: inline;
    color: #A74944;
  }

  .main-notification-info__view-all {
    float:right;
  }

.missions-sort-label {
  margin-right: 15px;
  margin-top: 4px;
}
.float-right{
  float:right;
}
.float-left{
  float:left;
}
.display-inline-block {
  display:inline-block;
}
.missions-sort-selector {
  margin-right: 15px;
  margin-top: 0px;
}

.payouts-paypal-account {
  font-size: 14px;
  margin-top: -25px;
}

.payouts-dotted-line,
.sales-team-dotted-line {
  margin-top: 25px;
  margin-bottom: 25px;
}

.payouts-input-text,
.payouts-input-email  {
  width: 250px!important;
  float: left!important;
  margin-right: 30px!important;
}

.payouts-paypal-save-submit {
  margin-top: -3px;
}

.payouts-paypal-email {
  float: right;
  text-align: right;
  font-size: 15px;
}

.payouts-paypal-email-change {
  text-align: right;
  cursor: pointer;
  margin-top: 6px;
}

.payouts-request {
  margin-top: -18px;
}

.payouts-form-request-payment {
  font-size: 15px;
}

.payouts-input-amount{
  width: 300px;
}

.payouts-request-payment-submit {
  font-size: 14px;
}

.payouts-rejected {
  text-decoration: underline;
  cursor: pointer;
}

.display-inline {
  display:inline!important;
}

.pinterest-request-input-username {
  width:200px;
}

.no-opacity {
  opacity:0;
}

.full-opacity {
  opacity:1;
}
.visibility-hidden {
  visibility:hidden;
}

.register-company.front-content {
  margin-top: 50px;
}

.sales-team-slaves-requests-submit {
}

.sales-team-slaves-invite-submit {
  width: 100px;
}

.social-front-content {
  margin-top: 50px;
}

.social-followers {
  /*margin-left: 16px;*/
  margin-left: 9%;
}

.social-followers-box {
  width: 60px;
}

.social-followers-friends {
  margin-top: -24px;
  font-size: 14px;
}

.social-followers-friends-small {
  margin-top: -24px;
  font-size: 13px;
}

.social-followers-btn-done {
  cursor: default;
  background: #aaaaaa;
  padding: 2px 40px;
}

.social-followers-btn-no {
  background: #aaaaaa;
}

.social-followers-btn-more {
  margin-right: 28px;
}

.social-followers-btn-done-2 {
  padding: 2px 40px;
}

.stats-tabs {
  margin-top: 30px;
  border: 0!important;
}

.stats-tabs-input {
  width: 110px!important;
  display: inline!important;
}

.stats-sales {
  width: 699px;
  height: 450px;
  margin: 0 auto;
}

.stats-sales-no-results {
  font-size: 20px;
}

.thankyou-front-content {
  margin-top: 150px;
}

.youtube-channel {
  width:200px;
}

.admin-add-input-wrapper,
.admin-edit-input-wrapper  {
  width:250px;
}

.admin-add-btn-add-country,
.admin-edit-btn-add-country {
  height: 30px!important;
  padding: 7px 1px!important;
  width: 140px!important;
}

.admin-add-btn-clear-countries {
  text-decoration:none!important;
  height: 30px!important;
  padding: 7px 20px!important;
  margin-bottom: 10px!important;
  float:right!important;

}

.admin-add-dotted-line,
.admin-edit-dotted-line {
  margin: 20px 0;
}

.best-points-value {
  float: right;
  display: inline-block;
  width: 90px;
  height: 38px;
  text-align: center;
}


.best-points-bonus-label {
  float: right;
  display: inline-block;
  font-size: 17px;
  margin-top: 6px;
  margin-right: 10px;
}

.best-form-bonus-points {
  margin-top: 30px;
  display: none;
}

  .best-form-bonus-points__reason {
    font-size: 16px !important;
  }

  .best-form-bonus-points__cancel {
    font-size: 16px;
  }

.best-form-table {
  width: 100%;
  border: 0;
  font-size: 18px;
}

.no-margin {
  margin:0;
}
.cursor-pointer {
  cursor:pointer;
}
.admin-blog-entry-image {
  width: 250px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.admin-broadcast-dotted-line {
  margin: 20px 0;
}
.admin-broadcast-export-wrapper {
  text-align:right;
  margin-top:15px;
}
.admin-broadcast-export-format {
  font-size: 11px;
  float: left;
  margin-right: 5px;
  width: auto;
  padding: 3px;
}
.admin-broadcast-export-submit {
  font-size: 11px;
  height: 25px;
  padding: 6px 10px;
  width: 80px;
}
.admin-broadcast-input {
  width:120px!important;
}
.admin-broadcast-template-select {
  width: 250px!important;
}

.coupon-add-create-submit,
.coupon-add-add-submit {
  width: 110px;
}
.coupon-edit__reject {
  margin-top: 30px;
  display: none;
}
.coupon-edit__reject-reason {
  font-size: 16px !important;
}
.coupon-edit__reject-reason-cancel {
  font-size: 16px !important;
}
.coupon-edit-submit {
  width: 110px;
}
.coupon-edit-link {
  height: 35px;
}
.coupons-request-admin-menu {
  margin-top: 10px;
  border: 0;
}

.email-report-view {
  width: 100%;
  border: 0;
  font-size: 18px;
}

.email-report-view-column {
  width: 22%;
}

.text-align-left {
  text-align:left;
}

.text-align-right {
  text-align:right;
}

.full-width{
  width:100%;
}

.event-entry-image {
  width: 250px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.goals-list-column {
  width:130px;
}
.index-admin-menu {
  margin-top: 10px;
  border: 0;
}
.index-notification-history {
  margin-bottom: 20px;
  margin-top: 40px;
}
.master-req-admin-menu {
  margin-top: 10px;
  border: 0;
}
.master-req-approve {
  float: right;
  margin-right: 20px;
}

.mission-edit-remove-image {
  margin-top: 15px;
}

.mission-export-select {
  font-size: 11px;
  width: 60px;
  height: 25px;
}

.mission-export-submit {
  font-size: 11px;
  height: 25px;
  padding: 6px 10px;
  width: 80px;
}
.mission-response-participants {
  width: 100%;
  border: 0;
  font-size: 18px;
}
.mission-response-column {
  width: 22%;
}
.package-view-reject {
  margin-top: 30px;
  display: none;
}
.package-view-reject-reason {
  font-size: 16px !important;
}
.package-view-reject-cancel {
  font-size: 16px !important;
}
.package-view-piecekeeper {
  width: 100%;
  border: 0;
  font-size: 18px;
}
.package-view-piecekeeper-name {
  width: 22%;
}
.payment-request-approve{
  margin-right: 20px;
}
.payment-request-admin-menu{
  margin-top: 10px;
  border: 0;
}
.payment-request-view-reject {
  margin-top: 30px;
  display: none;
}
.payment-request-view-reject-reason {
  font-size: 16px !important;
}

.payment-request-view-reject-cancel {
  font-size: 16px !important;
}

.payment-request-view-payments {
  width: 100%;
  border: 0;
  font-size: 18px;
}
.payment-request-view-column{
  width: 22%;
}
.points-view-type-label {
  display: inline;
  margin-right: 5px;
}
.points-view-type-select {
  width: 75px;
}
.questions-dotted-line {
  margin: 20px 0;
}
.sales-history-items-per-page-label {
  display: inline;
  margin-right: 5px;
}

.sales-history-items-per-page-select {
  width: 55px;
}

.sales-history-wrapper {
  margin-top: 20px;
}
.table-layout-fixed {
  table-layout:fixed;
}

.scratch-codes-add-submit {
  width: 110px;
}

.scratch-codes-view-codes{
  font-size:23px;
  font-family:'Roboto';
  margin: 40px 0 15px 0;
}

.settings-add-bonus-submit {
  width: 70px;
  padding-top: 8px;
}
.settings-add-commission-submit {
  width: 70px;
  padding-top: 8px;
}

.settings-tags {
  width: 445px;
  height: 75px;
}
.settings-level-3-products-label {
  width: 300px;
  margin-right: 20px;
}
.settings-level-3-products-textarea {
  width: 445px;
  height: 145px;
}
.settings-save {
  width: 70px;
}
.settings-dotted-line {
  margin: 30px 0 35px 0;
}

.settings-commission-by-country-label {
  width: 400px;
}
.settings-questions {
  width: 400px;
}
.settings-question {
  width: 80%;
}
.settings-underkeeper {
  width: 400px;
}
.settings-underkeeper-note {
  font-size:12px;
}

.slaves-list-admin-menu {
  margin-top: 10px;
  border: 0;
}

.slaves-approve {
  float: right;
  margin-right: 20px;
}

.slaves-view-reject-coupon {
  margin-top: 30px;
  display: none;
}
.slaves-view-reject-coupon-reason,
.slaves-view-reject-coupon-cancel {
  font-size: 16px !important;
}

.slaves-requests {
  width: 100%;
  border: 0;
  font-size: 18px;
}

.slaves-requests-column {
  width: 30%;
}

.user-edit-note{
  font-size: 12px;
}

.color-inherit {
  color:inherit;
}
.color-white {
  color:#fff!important;
}
.user-view-admin-actions {
  min-height: 48px;
}
.user-view-admin-actions-btn {
  display: inline-block;
  width: 100px;
  float: right;
}

.user-view-link-payments-view {
  color: #2BA6CB;
}
.user-view-link-payments-approve {
  color: #2BA6CB;
}
.user-view-link-coupons-view {
  color: #2BA6CB;
}
.user-view-link-coupons-expired {
  color: #999;
}
.user-view-link-coupons-approve {
  color: #999;
}
.user-view-link-coupons-disable {
  color: #ff0000;
}
.user-view-link-coupons-enable {
  color: #ff0000;
}
.user-view-link-scratch-code-view {
  color:#2BA6CB;
}
.user-view-link-coupons-reset-batch {
  color:#ff0000;
}
.user-view-admin-user-view {
  color: #2BA6CB;
}
.user-view-pk-starting-level {
  width: 180px;
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
}

.user-view-scratch-card-batches {
  font-size:23px;
  font-family:'Roboto';
  margin: 40px 0 25px 0;
}
.user-view-master {
  margin: 0 0 30px 0;
  font-size: 20px;
}
.user-view-ranking-wrapper {
  height: 165px;
  margin-top: 10px;
}
.user-view-stats-wrapper {
  margin-bottom: 7px;
  margin-top: 15px;
}
.user-view-social-following-wrapper {
  margin-top: 15px;
  margin-bottom: -23px;
}
.user-view-dotted-line {
  margin-top: 70px;
  margin-bottom: 25px;
}
.user-view-total-stats,
.user-view-tags {
  margin-bottom: 7px;
}
.user-view-tabs {
  margin-top: 10px!important;
  border: 0!important;
}
.user-view-profile-picture {
  margin-right: 20px;
}
.user-view-profile-picture-2 {
  margin-right: 15px;
}

.width-auto {
  width:auto;
}

.user-list-export-btn{
  font-size: 11px;
  height: 25px;
  padding: 6px 10px;
  width: 80px;
}

.user-list-export-form {
  float: right;
  margin-top: -30px;
}

.user-list-alert-wrapper {
  margin-bottom: -20px;
  margin-top: 30px;
}

.user-list-age {
  width: 40px!important;
  display: inline!important;
}
.user-list-select {
  width: 115px!important;
  float: left!important;
}
.text-align-center {
  text-align:center;
}

.user-list-days-inactive {
  width: 80px!important;
  display: inline!important;
  float: left;
  margin-right: 10px!important;
}
.user-list-name-or-coupon {
  width: auto!important;
  float: left;
  margin-right: 10px!important;
}
.user-list-form-alert{
  line-height: 18px;
}
.user-list-filter-form {
  font-size: 12px;
}
.user-list-export-select{
  font-size:11px;
}
.coupon-generator-title {
  font-size:13px;
}
.stats-index-stats-wrapper {
  width: 750px;
  height: 500px;
  margin: 0 auto;
}
.stats-index-select-wrapper {
  margin-right: 15px;
  margin-top: 3px;
}
.stats-index-input-date {
  width: 100px!important;
  display: inline!important;
}
.stats-index-tabs {
  margin-top: 10px!important;
  border: 0!important;
}
.stats-index-roi {
  width: 750px;
  height: 550px;
  margin: 0 auto;
}
.stats-index-no-results {
  font-size:20px;
}
.stats-index-column {
  width:350px;
}

.coupons-form-wrapper {
    display: inline-block;
    background-color: #f4f4f4;
    padding: 30px 20px;
    margin-bottom: 30px;
    float: left;
}

.coupons-form-wrapper form {
    margin: 0;
}

.coupons-message {
  display: inline-block;
  width: 60%;
  padding-left: 20px;
}

#read-more {
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}

#read-more-content {
  margin-top: 15px;
  display: none;
}

.header_logo_img {
    width:191px;
}

.header-top-left .logo-margin {
    display:inline-block;
}

.show-order-details {
    font-size: 12px;
    padding-left: 15px;
}

.level-package {
    width:31%;
    display:inline-block;
    vertical-align: top;
}

.level-package img {
    width:100%;
}

.level-package .column-text-line {
    height: 110px;
}

.level-package-margin {
    margin:0 20px;
}

.page.page-404 {
    background-image:url('../images/front/bg_1.jpg');
}

.page.page-maintenance {
    /*background-image:url('../images/front/bg_1.jpg');*/
    background: url("https://piecekeeper.onepiece.com/images/front/86fae8a083f45b589c2b3d86156ce27c3.jpg") 30% 50% / cover rgb(0, 0, 0);
}

#vine-login .social-error {
    color: #ff0000;
}

#vine-login .social-error p {
    margin: 0px;
}

.coupon-add .divider {
    width: 100%;
    height: 1px;
    background: #c0c0c0;
    margin-top: 30px;
    margin-bottom: 20px;
}

.limit-by
{
    width: 140px;
}

.user-view-register-link
{
    margin-bottom: 7px;
}

.social-aditional-message
{
    /*margin-top: -30px;*/
}

.hidden
{
    display: none;
}

.facebook_pages
{
  margin-top: -30px;
  margin-bottom: 10px;
  font-weight: bold;
  background: rgba(0,0,0,0.3);
  padding: 10px;
}

.facebook_pages a:visited,
.facebook_pages a:link,
.facebook_pages a:hover
{
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
}

.facebook_pages h4
{
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
  font-weight: normal;
}

.facebook_pages .front-btn
{
  margin-top: 10px;
}

.package-notification
{
  margin-top: 25px;
  margin-bottom: 0px;
  font-weight: bold;
  height: 60px;
  /*background: #33CCFF;*/
  /*border: 1px solid #33CCEE;*/
  background: #FF8637;
  display: table;
  width: 100%;
  padding: 0 20px;
}

.package-notification a
{
  color: white;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
}

.package-notification .fa-gift
{
  width: 40px;
  height: 40px;
  background-image: url("../images/gift_ffffff_40.png");
  background-size: cover;
  margin-top: 7px;
}

.bb-link
{
    color: white;
    font-weight: bold;
}

.bb-link:hover
{
    color: white;
    text-decoration: underline;
}

.content-maintenance a:focus {
    color: white;
}
