@charset "utf-8";

@font-face {
    font-family: 'futurastd_book';
    src: url('FUTURASTD-BOOK.OTF');


}

@font-face {
    font-family: 'acaslonpro_bold';
    src: url('ACASLONPRO-BOLD.OTF');


}

@font-face {
    font-family: 'acaslonpro_bolditalic';
    src: url('ACASLONPRO-BOLDITALIC.OTF');


}

@font-face {
    font-family: 'acaslonpro_italic';
    src: url('ACASLONPRO-ITALIC.OTF');


}


@font-face {
    font-family: 'acaslonpro_regular';
    src: url('ACASLONPRO-REGULAR.OTF');


}

@font-face {
    font-family: 'acaslonpro_semibold';
    src: url('ACASLONPRO-SEMIBOLD.OTF');


}

@font-face {
    font-family: 'acaslonpro_semibolditalic';
    src: url('ACASLONPRO-SEMIBOLDITALIC.OTF');


}